body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#game {
  height: 100vh;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Espacio entre las cartas */
  padding: 1rem;
  overflow: auto; /* Habilitar desplazamiento si el contenido excede el contenedor */
}

#stats {
  color: white;
  position: absolute;
  padding: 1rem;
  text-align: center;
  width: calc(100% - 2rem);
  font-size: 3rem;
}

.card {
  width: 100px;
  height: 140px;
  margin: 1rem;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.active {
  transform: rotateY(180deg);
}

.card div {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
}

.card .face {
  background: #05d1fe;
  transform: rotateY(180deg);
  color: black;
  font-size: 6rem;
}

.card .back {
  border: 3px solid #05d1fe;
  background: url(/revelacion/img/baby-2028055_640.png) center / contain no-repeat;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
  .card {
    width: 50px; /* Reducir tamaño de las cartas */
    height: 90px; /* Reducir altura de las cartas */
  }
  #stats {
    font-size: 2rem; /* Ajustar el tamaño del texto de los intentos */
  }
  #game {
    max-height: 500px; /* Reducir el tamaño del área de juego */
  }

  .card .face{
    font-size: 3rem; /* Ajustar el tamaño del número en las cartas */
  }
}
