/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
  }
  
  header {
    background: linear-gradient(90deg, blue, purple);
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    text-shadow: 2px 2px 4px #111;
  }
  #content {
    visibility: hidden; /* El contenido está oculto inicialmente */
  }
  /* Estilos del formulario */
  form {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="number"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilo del botón */
  button {
    background: linear-gradient(90deg, purple, blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff627e;
  }
  
  /* Estilos de los iconos */
  label i, button i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  /* Estilos para los campos de los invitados */
  #guestFields .person-info input[type="text"] {
    background-color: #e3f2fd;
  }
  
  #guestFields .person-info input[type="number"] {
    background-color: #f9fbe7;
  }
  
  #guestFields .person-info input[type="number"]#numGuests {
    background-color: #fbe9e7;
  }
  
  .person-info {
    margin-bottom: 20px;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .person-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .person-info input[type="text"], .person-info input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .person-info input[type="text"]:focus, .person-info input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  /* Estilo del mensaje de carga */
  #loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Animación de los bebés */
  @keyframes fight {
    0% { transform: translateX(0); }
    50% { transform: translateX(-20px); }
    100% { transform: translateX(0); }
  }
  
  .baby-animation {
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-items: center;
    position: relative;
    animation: fight 2s infinite;
  }
  
  .baby {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .baby-boy {
    background-image: url('https://example.com/baby-boy.png');
  }
  
  .baby-girl {
    background-image: url('https://example.com/baby-girl.png');
  }
  
  /* Animación del bebé en el mensaje de carga */
  .eye {
    width: 20px;
    height: 8px;
    background-color: rgba(240, 220, 220, 1);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    left: 10px;
    top: 40px;
    box-shadow: 40px 0px 0px 0px rgba(240, 220, 220, 1);
  }
  
  .head {
    -webkit-backface-visibility: hidden;
    position: relative;
    margin: -250px auto;
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset -4px 2px 0px 0px rgba(240, 220, 220, 1);
    -webkit-animation: headAnim 1.5s infinite alternate;
  }
  
  .body {
    position: relative;
    margin: 90px auto;
    width: 140px;
    height: 120px;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px rgba(240, 220, 220, 1);
    -webkit-animation: bodyAnim 1.5s infinite alternate;
  }
  
  @-webkit-keyframes headAnim {
    0% { top: 0px; }
    50% { top: 10px; }
    100% { top: 0px; }
  }
  
  @-webkit-keyframes bodyAnim {
    0% { top: -5px; }
    50% { top: 10px; }
    100% { top: -5px; }
  }
  
  .circ {
    margin: 60px auto;
    width: 180px;
    height: 180px;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    left: 0%;
    top: 20%;
    overflow: hidden;
  }
  
  .hands {
    margin-top: 140px;
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 20px;
    box-shadow: -1px -4px 0px 0px rgba(240, 220, 220, 1);
    -webkit-transform: rotate(45deg);
    top: 75%;
    left: 16%;
    z-index: 1;
    -webkit-animation: bodyAnim 1.5s infinite alternate;
  }
  
  .load {
    position: absolute;
    width: 7ch;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: -10px auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgba(240, 220, 220, 1);
    left: 2%;
    top: 5%;
    -webkit-animation: fontAnim 3.75s infinite;
  }
  
  @-webkit-keyframes fontAnim {
    0% { width: 7ch; }
    16% { width: 8ch; }
    32% { width: 9ch; }
    48% { width: 10ch; }
    64% { width: 11ch; }
    80% { width: 12ch; }
    100% { width: 13ch; }
  }
  
  @media (max-width: 494px) {
    header h1 {
      font-size: 16px; /* Tamaño más pequeño para pantallas menores a 494px */
    }
}












.switch {
    position: relative;
    display: inline-block;
    width: 70%; /* Usar el 100% del ancho disponible */
    max-width: 600px; /* Limitar el ancho máximo */
    height: auto; /* Ajustar la altura proporcionalmente */
    aspect-ratio: 3 / 1; /* Mantener la relación de aspecto */
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    background-image: linear-gradient(
        #7b2cbf, /* Púrpura oscuro */
        #9d4edd, /* Morado medio */
        #c77dff, /* Lavanda brillante */
        #6a4c93, /* Azul púrpura */
        #4a4e69  /* Azul oscuro */
      );
      
    transition: 0.4s;
  }
  
  .crib {
    position: absolute;
    left: -5%;
    bottom: 6%;
    transition: 0.4s;
    z-index: 100;
    overflow: hidden;

  }
  
  svg {
    height: auto;
    width: 35vw; /* Ajustar el ancho proporcional al viewport */
    max-width: 210px; /* Limitar el ancho máximo */
  }
  
  #Crib {
    transform-origin: center;
  }
  
  #Left,
  #Right {
    transform-origin: center;
    transition: 0.5s ease-in-out;
  }
  
  input:checked + .slider .crib {
    transform: translateX(68%); /* Ajustado para pantallas pequeñas */
  }
  
  input:checked + .slider .crib .right {
    transform: rotate(90deg) translate(60px);
  }
  
  input:checked + .slider .crib #Left {
    transform: rotate(-90deg) translate(-70px) scale(0.8);
  }
  
  input:checked + .slider .crib #Right {
    transform: rotate(90deg) translate(70px) scale(0.8);
  }
  
  #Grogu,
  #Robe {
    transform-origin: center;
    transition: 0.8s ease-in-out;
  }
  
  input:checked + .slider .crib #Robe {
    transform: translatey(0px) scale(1);
  }
  
  input:checked + .slider .crib #Grogu {
    transform: translatey(10px) scale(1);
    animation: head-tilt 3s ease-in-out;
    animation-delay: 1s;
  }
  
  @keyframes head-tilt {
    0% {
      transform: translatey(10px) scale(1);
    }
    25% {
      transform: rotate(-3deg) translatey(0px);
    }
  
    75% {
      transform: rotate(3deg) translatey(0px);
    }
    100% {
      transform: rotate(0deg) translatey(10px);
    }
  }
  
  /* Consultas de medios para pantallas pequeñas */
  @media (max-width: 768px) {
    .switch {
      max-width: 100%;
      height: auto;
      aspect-ratio: 3 / 1;
    }
  
    .crib {
      left: -8%;
    }
  
    input:checked + .slider .crib {
      transform: translateX(65%);
    }
  
    svg {
      width: 50vw;
      max-width: 180px;
    }
  }
  